primer parcial : 
punto 1

In [ ]:
anterior = (0)
posterior = (1)
termino = int(input("por favor ingrese el numero de termino a imprimir: "))



for x in range(0,termino):
  valor = anterior+posterior
  anterior = posterior
  posterior = valor
  print(valor)

punto 2:

In [ ]:
m = int(input("introduzca el valor de m: "))
n = int(input("introduzco el valor de n: "))

dif = m - n 
f = 1

while m > dif:
    f = f * m
    m -= 1
    
print("combinaciones: ",m)

introduzca el valor de m: 4
introduzco el valor de n: 4
combinaciones:  0

punto 3:

In [ ]:
n= int(input("ingrese un valor: "))
if n==5:
  contador=0
  for i in range(n):
    m= i+1
    n= m+1
    contador= contador + (m*n)
  print(contador)
elif n==3:
  resultado=0
  for i in range (n):
    resultado= resultado+(pow(2,i))
  print(resultado)

elif n==100:
  resultado=0
  for i in range (n):
    resultado= resultado+(pow(2,i))
  print(resultado)


else:
   print("numero no valido siga intentando")

ingrese un valor: 45
numero no valido siga intentando

punto 4:

In [ ]:
var_nombreTrabajador=""
var_horasTrabajadas= 0
var_tarifaHora= 0
var_pagoSema= 0
var_pagoSemat= 0
can_Trabajadores = 0
total_Hombres = 0
maximo_Mujeres = 0
var_genero = ""
minimo_Mujeres = 0 

can_Trabajadores= int(input("Ingrese cantidad de trabajadores: "))

for x in range(1,can_Trabajadores+1):
  var_nombreTrabajador = input("ingrese su nombre: ")
  var_horasTrabajadas = int(input("ingrese cuantas horas trabajo esta semana"))
  var_tarifaHora = int(input("ingrese cuanto vale su hora de trabajo "))
  var_genero = input("ingrese su genero: M=masculino F:femenino")

  #var_pagoSema =(var_horasTrabajadas*var_tarifaHora)

  if(var_horasTrabajadas<= 35):
    var_pagoSemat = var_pagoSema
  else:
    var_pagoSemat = (var_pagoSema*1.5)

  if var_genero == "f":
    sueldo_total_mujeres = var_pagoSema+var_pagoSema
    minimo_Mujeres= min(sueldo_total_mujeres)
    maximo_Mujeres= max(sueldo_total_mujeres)
    promedio_sueldos = (sueldo_total_mujeres/2)
    promedio_horas = (var_horasTrabajadas)
    




print(minimo_Mujeres)
print(maximo_Mujeres)
print(sueldo_total_mujeres)